@font-face {
    font-family: 'Theinhardt';
    font-style: normal;
    font-weight: 400;
    src: url(/assets/fonts/Theinhardt-Regular.53d77143.woff2) format("woff2"), url(/assets/fonts/Theinhardt-Regular.a2cab705.woff) format("woff"), url(/assets/fonts/Theinhardt-Regular.686ac72c.ttf) format("truetype")
}

@font-face {
    font-family: 'Theinhardt' Bold;
    font-style: normal;
    font-weight: 700;
    src: url(/assets/fonts/Theinhardt-Bold.1c663195.woff2) format("woff2"), url(/assets/fonts/Theinhardt-Bold.04de84c6.woff) format("woff"), url(/assets/fonts/Theinhardt-Bold.93264fe7.ttf) format("truetype")
}

@font-face {
    font-family: Chronicle Display;
    font-style: normal;
    font-weight: 700;
    src: url(/assets/fonts/ChronicleDisp-Roman.200fdabe.woff2) format("woff2"), url(/assets/fonts/ChronicleDisp-Roman.f9ab05ed.woff) format("woff"), url(/assets/fonts/ChronicleDisp-Roman.36672f48.ttf) format("truetype")
}

:root {
    --vh: 1vh;
    --vw: 1vw;
    --vmix: calc(var(--vw)*0.83 + var(--vh)*0.17)
}

@media (max-width:576px) {
     :root {
        --vmix: calc(var(--vw)*0.5 + var(--vh)*0.5)
    }
}

html {
    scroll-behavior: smooth !important;
}

body {
    margin: 0;
    padding: 0;
}

a {
    color: #000;
    text-decoration: none
}

a:hover {
    color: #a8c0d4;
    transition: color .2s linear
}

a:active {
    border: none;
    outline: none
}

ul {
    list-style-type: none
}

a.footer {
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    align-items: center;
    display: flex;
    flex-direction: row;
    bottom: 60px;
    cursor: pointer;
    left: 50%;
    margin: 0 0 0 -100px;
    width: 200px;
    z-index: 99;
}

a.footer svg:focus {
    border: none;
    outline: none
}

@media screen and (max-width:576px) {
    a.footer {
        bottom: 16px
    }
}

div.header {
    position: absolute;
    left: 50%;
    margin: 5vh 0 0 -24px;
    top: 0
}

div.header svg {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: 48px;
    transition: transform 1s cubic-bezier(.32, .35, .01, 1);
    transition-duration: 1s
}

div.header svg:focus {
    border: none;
    outline: none
}

.mobile div.header {
    margin: 5vh 0 0 -15px
}

.mobile div.header svg {
    height: 32px
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    display: none
}

@media screen and (max-width:576px) {
    #fp-nav ul li a span,
    .fp-slidesNav ul li a span {
        display: none
    }
}

.display-none {
    display: none
}

body.-active-slide-scrollable a.logo {
    transition: background 0s ease-in var(--duration)
}

body.-active-slide-scrollable.-scroll-direction-up a.logo {
    transition: background 0s ease-in .2s
}

a.logo.mobile {
    position: fixed;
    z-index: 100;
    width: 90%;
    top: 0;
    left: 5%;
    padding: 48px 0 5px;
    background: transparent;
    transition: background 0s;
    text-align: center
}

a.logo.mobile svg {
    cursor: pointer;
    margin: 0 auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: 48px
}

.opacity-0 {
    opacity: 0;
}

.opacity_1 {
    opacity: 1;
}

body.fp-viewing {
    color: #000;
    color: #a8c0d4;
    color: #fff
}

body.fp-viewing-bond div.logo svg path,
body.fp-viewing-partners div.logo svg path,
body.fp-viewing-partnership div.logo svg path,
body.fp-viewing-trends div.logo svg path {
    fill: #000
}

body.fp-viewing-contact div.logo svg path,
body.fp-viewing-landing div.logo svg path {
    transition-duration: calc(var(--duration)*0.5)
}

body.-scroll-direction-down svg path {
    transition: fill var(--duration) ease-in
}

body.-scroll-direction-up svg path {
    transition: fill var(--duration) ease-out
}

.section.swiper-slide {
    height: 100vh !important;
    width: 100vw !important;
    object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
    top: auto !important;
}

.swiper .swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: none;
    z-index: 9999 !important;
}

.slide-landing div.logotype {
    display: block;
    margin: 0 auto;
    max-width: 300px
}

.swiper {
    background: url(../assets/img/landing_landscape.be280039.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 1;
}

.landing-bg.-fixed-section .logotype {
    width: 100%;
    height: calc(100vh - 100px);
    transform: translateY(0);
    transition: transform 1.2s cubic-bezier(.32, .35, .01, 1)
}

.landing-bg.-fixed-section .logotype.animate {
    transform: translateY(-100%)
}

.landing-bg.-fixed-section .logotype.animate svg {
    transform: translate(-50%, -50%) scale(1.5)
}

.landing-bg.-fixed-section svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 322px;
    margin-top: 20px;
    z-index: 1;
    opacity: .8;
    transition: transform 1.2s cubic-bezier(.32, .35, .01, 1)
}

.landing-bg.-fixed-section svg.ios-gsa-fix-landing {
    margin-top: 75px
}

@media screen and (max-width:576px) {
    .landing-bg.-fixed-section svg {
        top: 41.5%;
        width: 164px
    }
}

.landing-bg.-fixed-section svg path {
    fill: #030303
}

.landing-bg.-fixed-section:first-child {
    display: none
}

body.-add-opacity .-fixed-section {
    opacity: 0;
    height: 0
}

@media screen and (max-width:576px) {
    .slide-landing div.logotype svg {
        display: block;
        height: 36px;
        margin: -6vh auto 0
    }
    .landing-bg.-fixed-section {
        background: #e0e0e0 url(/assets/img/landing_portrait.5f67586e.jpg) 50% no-repeat;
        background-position: 0 -12vh;
        background-size: cover
    }
}

.slide-statement {
    background-color: #fff
}

.slide-statement p {
    display: block;
    margin: 0 auto;
    line-height: calc(var(--vmix)*3.33);
    text-align: center;
    font-size: calc(var(--vmix)*3.33);
    font-family: Chronicle Display, Times, serif;
    font-weight: 400;
    max-width: 125vh
}

@media screen and (max-width:576px) {
    .slide-statement p {
        line-height: calc(var(--vmix)*4.99);
        font-size: calc(var(--vmix)*4.5);
        max-width: 90%
    }
    .slide-statement.slide-trends p {
        max-width: 82%
    }
}

.slide-investments,
body.-active-investments.-active-slide-scrollable div.logo {
    background-color: #333
}

.slide-investments {
    color: #fff
}

.slide-investments a.footer svg path {
    stroke: #fff
}

.slide-investments div.header svg path {
    fill: #fff
}

.slide-landing .slide-content svg {
    font-family: 'Chronicle Display', Times, serif;
    width: 20em !important;
    opacity: .8;
    padding-bottom: 1em;
    margin-top: -10% !important;
    font-weight: 900 !important;
}

.slide-landing .slide-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-investments div.slide-conte h2,
.slide-investments div.slide-content h3 {
    font-family: 'Theinhardt', Helvetica, Arial, sans-serif;
    font-weight: 400
}

.slide-investments div.slide-content h2.title-page {
    text-align: center;
    margin-top: 15vh
}

.slide-investments div.slide-content h3.title-section {
    margin-top: calc(var(--vmix)*4.99);
    text-align: center
}

.slide-investments div.slide-content hr {
    display: block;
    background-color: grey;
    border: none;
    height: 1px;
    margin: 10vh auto;
    width: 75%
}

.slide-investments div.slide-content p {
    margin-top: 35px;
    font-family: 'Theinhardt', Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: calc(var(--vmix)*1.24);
    letter-spacing: .05em
}

.slide-investments div.slide-content p a {
    color: #a8c0d4
}

.slide-investments div.slide-content p a:hover {
    color: #8ab1d1
}

.slide-investments div.slide-content ul {
    display: block;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: calc(var(--vmix)*6.66);
    padding: 0;
    max-width: 120vh
}

.slide-investments div.slide-content ul li {
    display: inline-block;
    height: 10vh;
    padding: 0;
    width: 30vh
}

.slide-investments div.slide-content ul li svg {
    display: block;
    margin: 0 auto
}

.slide-investments div.slide-content .scroll-wrapper-wrapper {
    margin: 4vh 0;
    padding: 0
}

.slide-investments div.slide-content .scroll-wrapper-wrapper:after,
.slide-investments div.slide-content .scroll-wrapper-wrapper:before {
    background: linear-gradient(#333, rgba(51, 51, 51, .25), rgba(51, 51, 51, 0));
    display: block;
    position: absolute;
    content: " ";
    height: 3vh;
    width: 100%;
    z-index: 99;
}

.slide-investments div.slide-content .scroll-wrapper-wrapper:after {
    background: linear-gradient(rgba(51, 51, 51, 0), rgba(51, 51, 51, .25), #333);
    margin-top: -3vh
}

.slide-investments div.slide-content .vertical-scroll-wrapper {
    height: 50vh !important;
    overflow: auto;
    position: relative;
}

.slide-investments div.slide-content .vertical-scroll-wrapper ul {
    position: relative;
    top: 1vh;
    animation: scroll 25s linear forwards infinite;
}

@keyframes scroll {
    0% {
        top: 2vh;
    }
    50% {
        top: -54vh;
    }
}

.slide-investments div.slide-content .vertical-scroll-wrapper ul li {
    display: flex;
    align-items: center;
    justify-content: center
}

.slide-investments div.slide-content .vertical-scroll-wrapper ul li a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}

.slide-investments div.slide-content .vertical-scroll-wrapper ul li p {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center
}

.slide-investments div.slide-content .vertical-scroll-wrapper ul li svg {
    width: 24vh
}

@media screen and (max-width:576px) {
    .slide-investments div.slide-content h2.title-page {
        font-size: calc(var(--vmix)*3);
        margin-top: 15vh
    }
    .slide-investments div.slide-content hr {
        margin: 8vh auto
    }
    .slide-investments div.slide-content p {
        font-size: calc(var(--vmix)*3)
    }
    .slide-investments div.slide-content .vertical-scroll-wrapper {
        margin-bottom: calc(var(--vmix)*0.8);
        height: 50vh
    }
    .slide-investments div.slide-content .vertical-scroll-wrapper ul {
        max-width: 40vh
    }
    .slide-investments div.slide-content .vertical-scroll-wrapper ul li {
        height: 10vh;
        width: 18vh
    }
    .slide-investments div.slide-content .vertical-scroll-wrapper ul li svg {
        width: 20vh
    }
}

@media screen and (min-width:576px) and (max-width:768px) {
    .slide-investments div.slide-content h2.title-page {
        font-size: calc(var(--vmix)*3);
        margin-top: 15vh
    }
    .slide-investments div.slide-content hr {
        margin: 8vh auto
    }
    .slide-investments div.slide-content p {
        font-size: calc(var(--vmix)*2)
    }
    .slide-investments div.slide-content .vertical-scroll-wrapper {
        margin-bottom: calc(var(--vmix)*0.8);
        height: 50vh
    }
    .slide-investments div.slide-content .vertical-scroll-wrapper ul {
        max-width: 60vh
    }
    .slide-investments div.slide-content .vertical-scroll-wrapper ul li {
        height: 10vh;
        width: 20vh
    }
}

@media screen and (min-width:768px) and (max-width:992px) {
    .slide-investments div.slide-content h2.title-page {
        font-size: calc(var(--vmix)*3);
        margin-top: 15vh
    }
    .slide-investments div.slide-content hr {
        margin: 8vh auto
    }
    .slide-investments div.slide-content p {
        font-size: calc(var(--vmix)*2)
    }
    .slide-investments div.slide-content .vertical-scroll-wrapper {
        margin-bottom: calc(var(--vmix)*0.8);
        height: 50vh
    }
    .slide-investments div.slide-content .vertical-scroll-wrapper ul {
        max-width: 80vh
    }
    .slide-investments div.slide-content .vertical-scroll-wrapper ul li {
        height: 10vh;
        width: 25vh
    }
}

@media screen and (min-width:992px) and (max-width:1400px) {
    .slide-investments div.slide-content .vertical-scroll-wrapper ul {
        max-width: 120vh
    }
    .slide-investments div.slide-content .vertical-scroll-wrapper ul li {
        width: 25vh
    }
}

@media screen and (min-width:1400px) {
    .slide-investments div.slide-content .vertical-scroll-wrapper ul {
        max-width: 150vh
    }
    .slide-investments div.slide-content .vertical-scroll-wrapper ul li {
        width: 26vh
    }
}

@media screen and (min-aspect-ratio:16/9) {
    .slide-investments div.slide-content hr {
        margin: 10vh auto
    }
    .slide-investments div.slide-content .vertical-scroll-wrapper {
        height: 50vh;
        overflow: hidden
    }
    .slide-investments div.slide-content .vertical-scroll-wrapper ul {
        max-width: 175vh
    }
    .slide-investments div.slide-content .vertical-scroll-wrapper ul li {
        height: 10vh;
        width: 33vh
    }
}

@media screen and (min-aspect-ratio:16/9) and (max-height:600px) {
    .slide-investments div.slide-content h2.title-page {
        font-size: calc(var(--vmix)*1.72);
        margin-top: 25vh
    }
    .slide-investments div.slide-content p {
        font-size: calc(var(--vmix)*1.45);
        margin: 0 0 10vh
    }
    .slide-investments div.slide-content ul li {
        height: 20vh
    }
    .slide-investments div.slide-content .vertical-scroll-wrapper {
        margin-bottom: 0;
        overflow: visible
    }
    .slide-investments div.slide-content .vertical-scroll-wrapper.vs-enabled ul {
        -webkit-animation-name: none;
        animation-name: none
    }
}

.slide-reports,
body.-active-reports.-active-slide-scrollable div.logo {
    background-color: #000
}

.slide-reports {
    color: #a8c0d4
}

.slide-reports a.footer svg path {
    stroke: #a8c0d4
}

.slide-internettrends div.fp-scroller {
    overflow: visible;
}

.slide-internettrends div.fp-scroller a.footer {
    bottom: -50%;
}

div.slide-content h2.title-section {
    margin-top: 2vh !important;
}

.slide-reports div.slide-content h2.title-section {
    font-family: 'Theinhardt', Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-align: center;
    margin-bottom: 8vh;
    margin-top: 18vh
}

.slide-reports div.slide-content hr {
    background-color: grey;
    border: none;
    height: 1px;
    width: 75%
}

.slide-reports div.slide-content ul {
    display: block;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(var(--vmix)*3.33);
    padding: 0;
    max-width: 120vh
}

.slide-reports div.slide-content ul li {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    height: 12vh;
    padding: 0;
}

.slide-reports div.slide-content ul li.reports-special {
    width: 100vh
}

.slide-reports div.slide-content ul li a {
    font-family: Chronicle Display, Times, serif;
    font-weight: 400;
    color: #a8c0d4;
    font-size: calc(var(--vmix)*3.33)
}

.slide-reports div.slide-content ul li a:hover {
    color: #fff
}

.slide-reports .iScrollIndicator {
    background: rgba(168, 192, 212, .5) !important
}

@media screen and (max-width:576px) {
    .slide-reports div.slide-content h2.title-section {
        font-size: calc(var(--vmix)*3);
        margin-bottom: 5vh;
        margin-top: 15vh
    }
    .slide-reports div.slide-content ul {
        max-width: 50vh
    }
    .slide-reports div.slide-content ul li {
        height: 8vh;
    }
    .slide-reports div.slide-content ul li.reports-special {
        width: 50vh
    }
    .slide-reports div.slide-content ul li a {
        font-family: Chronicle Display, Times, serif;
        font-weight: 400;
        color: #a8c0d4;
        font-size: calc(var(--vmix)*4.99)
    }
    .slide-reports div.slide-content ul li a:hover {
        color: #fff
    }
}

@media screen and (min-aspect-ratio:16/9) {
    .slide-reports div.slide-content ul {
        max-width: 175vh
    }
    .slide-reports div.slide-content ul li {
        height: 11vh;
    }
    .slide-reports div.slide-internettrends ul {
        max-width: 225vh
    }
}

@media screen and (min-aspect-ratio:16/9) and (max-height:600px) {
    .slide-reports div.slide-content h2.title-section {
        font-size: calc(var(--vmix)*1.72);
        margin-top: 25vh
    }
    .slide-reports div.slide-content ul {
        max-width: 175vh
    }
    .slide-reports div.slide-content ul li {
        height: 15vh;
    }
}

body.-active-partners.-active-slide-scrollable div.logo {
    background: #fff
}

.slide-partners {
    background-color: #fff
}

.slide-partners div.slide-content h2.title-section {
    font-family: 'Theinhardt', Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-align: center
}

.slide-partners div.slide-content ul {
    display: block;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(var(--vmix)*3);
    padding: 0;
    max-width: 120vh
}

.slide-partners div.slide-content ul li {
    height: 20vh;
    margin: 1vh 0;
    width: 30vh
}

.slide-partners div.slide-content ul li a div {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 25vh;
    height: 20vh
}

.slide-partners div.slide-content ul li a p {
    background-color: hsla(0, 0%, 100%, .8);
    flex-wrap: wrap;
    justify-content: center;
    font-family: Chronicle Display, Times, serif;
    font-weight: 400;
    opacity: 0;
    text-align: center;
    font-size: calc(var(--vmix)*2);
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 20vh;
    margin-top: 0;
    transition: opacity .2s linear
}

.slide-partners div.slide-content ul li a:hover {
    color: #000
}

.slide-partners div.slide-content ul li a:hover p {
    opacity: 1
}

@media screen and (max-width:1400px) {
    .slide-partners div.slide-content h2.title-section {
        margin-top: 18vh
    }
}

@media screen and (max-width:576px) {
    .slide-partners div.slide-content h2.title-section {
        font-size: calc(var(--vmix)*3);
        margin-top: 15vh
    }
    .slide-partners div.slide-content ul {
        margin-bottom: 15vh;
        max-width: 45vh
    }
    .slide-partners div.slide-content ul li {
        height: 22vh;
        margin: 1vh 0;
        width: 22vh
    }
    .slide-partners div.slide-content ul li a div {
        background-size: 15vh;
        height: 15vh
    }
    .slide-partners div.slide-content ul li a p {
        opacity: 1;
        font-size: calc(var(--vmix)*3.33);
        align-items: flex-end;
        display: flex;
        flex-direction: row;
        background: transparent;
        height: 19vh;
        margin-top: 0
    }
    .slide-partners div.slide-content ul.ios-gsa-fix-partners {
        max-width: 50vh
    }
    .slide-partners div.slide-content ul.ios-gsa-fix-partners li {
        width: 25vh
    }
}

@media screen and (min-aspect-ratio:16/9) {
    .slide-partners div.slide-content ul {
        max-width: 200vh
    }
    .slide-partners div.slide-content ul li {
        width: 45vh
    }
}

@media screen and (min-aspect-ratio:16/9) and (max-height:600px) {
    .slide-partners div.slide-content h2.title-section {
        margin-top: 25vh
    }
    .slide-partners div.slide-content ul {
        max-width: 160vh;
        margin-bottom: 20vh
    }
    .slide-partners div.slide-content ul li {
        height: 30vh;
        width: 40vh
    }
    .slide-partners div.slide-content ul li a div {
        background-size: 25vh;
        height: 25vh
    }
    .slide-partners div.slide-content ul li a p {
        background-color: transparent;
        background-image: linear-gradient(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .2), hsla(0, 0%, 100%, .8));
        opacity: 1;
        font-size: calc(var(--vmix)*1.72);
        align-items: flex-end;
        display: flex;
        flex-direction: row;
        height: 30vh;
        margin-top: 0
    }
}

.slide-closing {
    background-color: #fff
}

.slide-closing a.footer svg {
    transform: rotate(180deg)
}

.slide-closing div.logotype {
    display: block;
    margin: 0 auto;
    margin-bottom: calc(var(--vmix)*4.99);
    width: 139px
}

.slide-closing div.logotype svg {
    cursor: pointer;
    height: 36px;
    width: 139px
}

.slide-closing div.logotype a:focus,
.slide-closing div.logotype a svg:focus,
.slide-closing div.logotype svg:focus {
    border: none;
    outline: none
}

.slide-closing p {
    display: block;
    margin: 0 auto;
    font-family: 'Theinhardt', Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: calc(var(--vmix)*1.24)
}

@media screen and (max-width:576px) {
    .slide-closing div.logotype {
        width: 112px;
        margin-top: -5vh
    }
    .slide-closing div.logotype svg {
        height: 30px;
        width: 112px
    }
    .slide-closing p {
        margin-top: calc(var(--vmix)*6.66);
        font-size: calc(var(--vmix)*2.5)
    }
}

.page-investments h3.fixed-title-box {
    display: none
}

.page-investments h3.fixed-title-box.active {
    display: block
}

.page-investments h3.fixed-title-box--color {
    background-color: #333
}

.page-investments h3.fixed-title-box span {
    transition: opacity 1s ease-in-out;
    opacity: 1
}

.page-investments h3.fixed-title-box--opaque span {
    opacity: 0
}

.page-investments div.slide-content ul li svg {
    width: 24vh
}

#back.back-investments {
    top: 0;
    z-index: 100;
    left: 0;
    position: fixed
}

#back.back-investments .back {
    left: 3vh;
    position: absolute;
    top: 3vh
}

#back.back-investments .back svg path {
    fill: #fff
}

#back.back-investments .back svg:focus {
    outline: none
}

#back.back-investments .back:hover svg path {
    fill: #8ab1d1;
    transition: fill .2s linear
}

@media screen and (max-width:576px) {
    #back.back-investments .back {
        display: none
    }
}

h3.fixed-title-box {
    font-size: calc(var(--vmix)*1.05);
    font-family: 'Theinhardt', Helvetica, Arial, sans-serif;
    font-weight: 400;
    display: block;
    position: fixed;
    z-index: 100;
    width: 100%;
    margin: 0 auto;
    padding: 5vh 0 4vh;
    text-align: center;
    color: #fff;
    pointer-events: none
}

h3.fixed-title-box:empty {
    opacity: 0
}

@media screen and (max-width:576px) {
    h3.fixed-title-box {
        font-size: calc(var(--vmix)*2.5)
    }
}

.page-investments div.slide-content h2.title-page {
    margin-top: 22vh
}

.page-investments div.slide-content h3.title-section {
    font-size: calc(var(--vmix)*1.24)
}

.page-investments div.slide-content ul {
    max-width: 75%
}

.page-investments div.slide-content ul li {
    height: 15vh;
    margin: 0;
    width: 20%
}

.page-investments div.slide-content ul li a {
    height: 100%;
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center
}

.page-investments div.slide-content ul li a p {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center
}

.page-investments div.slide-content ul li a.no-link {
    pointer-events: none
}

.page-investments div.slide-content ul li p.no-logo {
    font-family: Chronicle Display, Times, serif;
    font-weight: 400;
    padding-top: calc(var(--vmix)*3.33);
    font-size: calc(var(--vmix)*2);
    color: #fff;
    margin: 2vh 0 0
}

.page-investments .title-box {
    background: #333;
    width: 80%;
    display: inline-block;
    padding: 3vh 0
}

@media screen and (max-width:576px) {
    .page-investments .fullpage-wrapper {
        transition-delay: .2s !important
    }
    .page-investments div.slide-content h2.title-page {
        margin: 15vh 0 4vh
    }
    .page-investments div.slide-content h3.title-section {
        font-size: calc(var(--vmix)*2.5);
        margin-bottom: 0
    }
    .page-investments div.slide-content ul {
        max-width: 40vh
    }
    .page-investments div.slide-content ul li {
        height: 10vh;
        width: 18vh
    }
    .page-investments div.slide-content ul li svg {
        width: 20vh
    }
}

@media screen and (min-width:576px) and (max-width:768px) {
    .page-investments div.slide-content h2.title-page {
        margin: 17vh 0 8vh
    }
    .page-investments div.slide-content h3.title-section {
        margin-top: 0;
        margin-bottom: 4vh;
        font-size: calc(var(--vmix)*2.5)
    }
    .page-investments div.slide-content ul {
        max-width: 60vh
    }
    .page-investments div.slide-content ul li {
        height: 10vh;
        width: 20vh
    }
}

@media screen and (min-width:768px) and (max-width:992px) {
    .page-investments div.slide-content h2.title-page {
        margin: 17vh 0 6vh
    }
    .page-investments div.slide-content h3.title-section {
        font-size: calc(var(--vmix)*2.5);
        margin-bottom: 3vh
    }
    .page-investments div.slide-content ul {
        max-width: 80vh
    }
    .page-investments div.slide-content ul li {
        width: 20vh
    }
}

@media screen and (min-width:992px) and (max-width:1400px) {
    .page-investments div.slide-content h2.title-page {
        margin: 17vh 0 6vh
    }
    .page-investments div.slide-content h3.title-section {
        font-size: calc(var(--vmix)*2.5);
        margin-bottom: 3vh
    }
    .page-investments div.slide-content ul {
        max-width: 120vh
    }
    .page-investments div.slide-content ul li {
        width: 25vh
    }
}

@media screen and (min-width:1400px) {
    .page-investments div.slide-content h2.title-page {
        font-size: calc(var(--vmix)*1.45);
        margin: 17vh 0 8vh
    }
    .page-investments div.slide-content h3.title-section {
        font-size: calc(var(--vmix)*1.45);
        margin-bottom: 8vh
    }
    .page-investments div.slide-content ul {
        max-width: 150vh
    }
    .page-investments div.slide-content ul li {
        width: 26vh
    }
}

@media screen and (min-aspect-ratio:16/9) {
    .page-investments div.slide-content h2.title-page {
        font-size: calc(var(--vmix)*1.45);
        margin: 17vh 0 8vh
    }
    .page-investments div.slide-content h3.title-section {
        font-size: calc(var(--vmix)*1.45);
        margin-bottom: 8vh
    }
    .page-investments div.slide-content ul {
        max-width: 175vh
    }
    .page-investments div.slide-content ul li {
        height: 12vh;
        width: 33vh
    }
}

.page-liminal div.content {
    display: block;
    margin: 0 auto;
    font-family: 'Theinhardt', Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: calc(var(--vmix)*1.72);
    font-size: calc(var(--vmix)*1.24);
    width: 80%
}

.page-liminal div.header {
    position: absolute;
    left: 50%;
    margin: 5vh 0 0 -24px;
    top: 0
}

.page-liminal h1 {
    font-family: Chronicle Display, Times, serif;
    font-weight: 400;
    font-size: calc(var(--vmix)*3);
    text-align: center;
    margin: 15vh 0 5vh
}

.page-liminal h2 {
    font-family: 'Theinhardt', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: calc(var(--vmix)*2);
    text-align: center;
    margin: 5vh 0
}

.page-liminal p:last-child {
    margin-bottom: 10vh
}

#back.back-partner {
    top: 0;
    left: 0;
    z-index: 5
}

#back.back-partner .back {
    left: 3vh;
    position: absolute;
    top: 3vh;
    z-index: 99
}

#back.back-partner .back svg path {
    fill: #000
}

#back.back-partner .back svg:focus {
    outline: none
}

#back.back-partner .back:hover svg path {
    fill: #8ab1d1;
    transition: fill .2s linear
}

@media screen and (max-width:576px) {
    #back.back-partner .back {
        display: none
    }
}

.page-partners .static-header {
    opacity: 1;
    transition: opacity .5s ease-in-out
}

.page-partners .static-header.disabled {
    opacity: 0
}

.page-partners .static-header .bio-name-container {
    display: none
}

.page-partners .bio-name-container {
    order: 1;
    width: 100%
}

.page-partners .bio-name-container p {
    font-family: Chronicle Display, Times, serif;
    font-weight: 400;
    margin-bottom: calc(var(--vmix)*4.99);
    text-align: center;
    font-size: calc(var(--vmix)*3.33)
}

.page-partners .slide-bio,
.page-partners .slide-cv {
    background-color: #fff
}

.page-partners .slide-bio div.slide-content,
.page-partners .slide-cv div.slide-content {
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10vh 0;
    padding: 0 6em;
    min-height: 80vh
}

.page-partners .slide-bio div.slide-content .bio-image-container,
.page-partners .slide-cv div.slide-content .bio-image-container {
    order: 3;
    width: 50%
}

.page-partners .slide-bio div.slide-content .bio-image-container .bio-image,
.page-partners .slide-cv div.slide-content .bio-image-container .bio-image {
    margin-top: -2em;
    width: 100%
}

.page-partners .slide-bio div.slide-content .bio-list-container,
.page-partners .slide-cv div.slide-content .bio-list-container {
    text-align: left;
    font-size: calc(var(--vmix)*1.24);
    margin-bottom: 10vh;
    min-height: 30vh;
    width: 25%
}

.page-partners .slide-bio div.slide-content .bio-list-container:last-child,
.page-partners .slide-cv div.slide-content .bio-list-container:last-child {
    margin-bottom: 10vh
}

.page-partners .slide-bio div.slide-content .bio-list-container.bio-list-three-column,
.page-partners .slide-cv div.slide-content .bio-list-container.bio-list-three-column {
    margin-left: 18%
}

.page-partners .slide-bio div.slide-content .bio-list-container ul,
.page-partners .slide-cv div.slide-content .bio-list-container ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.page-partners .slide-bio div.slide-content .bio-list-container.bio-list-container-education,
.page-partners .slide-cv div.slide-content .bio-list-container.bio-list-container-education {
    order: 4
}

.page-partners .slide-bio div.slide-content .bio-list-container.bio-list-container-experience,
.page-partners .slide-cv div.slide-content .bio-list-container.bio-list-container-experience {
    order: 5
}

.page-partners .slide-bio div.slide-content .bio-list-container.bio-list-container-current,
.page-partners .slide-cv div.slide-content .bio-list-container.bio-list-container-current {
    order: 6
}

.page-partners .slide-bio div.slide-content .bio-list-container.bio-list-container-prior,
.page-partners .slide-cv div.slide-content .bio-list-container.bio-list-container-prior {
    order: 7
}

.page-partners .slide-bio div.slide-content .bio-list-container .bio-list-label,
.page-partners .slide-cv div.slide-content .bio-list-container .bio-list-label {
    font-family: 'Theinhardt' Bold, Helvetica, Arial, sans-serif;
    font-weight: 700;
    margin-bottom: calc(var(--vmix)*0.8)
}

.page-partners .slide-bio div.slide-content .bio-list-container .bio-list,
.page-partners .slide-cv div.slide-content .bio-list-container .bio-list {
    font-family: 'Theinhardt', Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: calc(var(--vmix)*1.72);
    margin-top: calc(var(--vmix)*0.8)
}

.page-partners .slide-bio div.slide-content .bio-text-container,
.page-partners .slide-cv div.slide-content .bio-text-container {
    line-height: calc(var(--vmix)*2);
    font-size: calc(var(--vmix)*1.24);
    margin-bottom: 2.5em;
    order: 2;
    width: 40%
}

.page-partners .slide-bio div.slide-content .bio-text-container p,
.page-partners .slide-cv div.slide-content .bio-text-container p {
    font-family: 'Theinhardt', Helvetica, Arial, sans-serif;
    font-weight: 400
}

.page-partners .slide-bio div.slide-content .bio-text-container .bio-social-list,
.page-partners .slide-cv div.slide-content .bio-text-container .bio-social-list {
    margin-top: calc(var(--vmix)*2);
    list-style: none;
    padding: 0;
    text-align: left
}

.page-partners .slide-bio div.slide-content .bio-text-container .bio-social-list a,
.page-partners .slide-cv div.slide-content .bio-text-container .bio-social-list a {
    font-family: 'Theinhardt', Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #8ab1d1
}

.page-partners .slide-bio div.slide-content .bio-text-container .bio-social-list li,
.page-partners .slide-cv div.slide-content .bio-text-container .bio-social-list li {
    display: inline-block
}

.page-partners .slide-bio div.slide-content .bio-text-container .bio-social-list li:not(:last-child):after,
.page-partners .slide-cv div.slide-content .bio-text-container .bio-social-list li:not(:last-child):after {
    content: "·";
    margin: 0 4px
}

.page-partners .slide-bio div.slide-content .footer,
.page-partners .slide-cv div.slide-content .footer {
    margin-top: calc(var(--vmix)*6.66)
}

.page-partners .slide-cv div.slide-content {
    padding: 0 10em
}

@media screen and (max-width:1400px) {
    .page-partners .bio-name-container {
        margin: 0;
        order: 2
    }
    .page-partners .slide-bio div.slide-content,
    .page-partners .slide-cv div.slide-content {
        margin: 2.5em;
        padding: 1vh
    }
    .page-partners .slide-bio div.slide-content .bio-image-container,
    .page-partners .slide-cv div.slide-content .bio-image-container {
        margin-top: 10vh;
        order: 1;
        width: 100%
    }
    .page-partners .slide-bio div.slide-content .bio-image-container .bio-image,
    .page-partners .slide-cv div.slide-content .bio-image-container .bio-image {
        display: block;
        margin: 0 auto;
        height: 40vh;
        width: auto
    }
    .page-partners .slide-bio div.slide-content .bio-list-container,
    .page-partners .slide-cv div.slide-content .bio-list-container {
        text-align: left;
        font-size: calc(var(--vmix)*2.5);
        min-height: 5vh;
        margin-bottom: 12px;
        width: 100%
    }
    .page-partners .slide-bio div.slide-content .bio-list-container ul li,
    .page-partners .slide-cv div.slide-content .bio-list-container ul li {
        height: 2.5vh
    }
    .page-partners .slide-bio div.slide-content .bio-list-container .bio-list-label,
    .page-partners .slide-cv div.slide-content .bio-list-container .bio-list-label {
        margin-bottom: calc(var(--vmix)*2)
    }
    .page-partners .slide-bio div.slide-content .bio-text-container,
    .page-partners .slide-cv div.slide-content .bio-text-container {
        margin-bottom: 2.5em;
        order: 3;
        width: 100%
    }
    .page-partners .slide-bio div.slide-content .bio-text-container p,
    .page-partners .slide-cv div.slide-content .bio-text-container p {
        line-height: calc(var(--vmix)*3.33);
        font-size: calc(var(--vmix)*2.5)
    }
    .page-partners .slide-bio div.slide-content .bio-text-container .bio-social-list,
    .page-partners .slide-cv div.slide-content .bio-text-container .bio-social-list {
        margin-bottom: calc(var(--vmix)*4.99);
        padding-top: calc(var(--vmix)*4.99);
        font-size: calc(var(--vmix)*2.5)
    }
    .slide-cv .bio-name-container {
        margin-top: 10vh
    }
}

@media screen and (max-width:576px) {
    .page-partners .slide-bio div.slide-content,
    .page-partners .slide-cv div.slide-content {
        margin: 1.25em
    }
    .page-partners .slide-bio div.slide-content p,
    .page-partners .slide-cv div.slide-content p {
        font-size: calc(var(--vmix)*3)
    }
    .page-partners .slide-bio div.slide-content .bio-image-container .bio-image,
    .page-partners .slide-cv div.slide-content .bio-image-container .bio-image {
        display: block;
        margin: 0 auto;
        height: auto;
        width: 100%
    }
    .page-partners .slide-bio div.slide-content .bio-list-container,
    .page-partners .slide-cv div.slide-content .bio-list-container {
        font-size: calc(var(--vmix)*3)
    }
    .page-partners .slide-bio div.slide-content .bio-list-container ul li,
    .page-partners .slide-cv div.slide-content .bio-list-container ul li {
        margin-bottom: calc(var(--vmix)*0.8)
    }
    .page-partners .slide-bio div.slide-content .bio-name-container p,
    .page-partners .slide-cv div.slide-content .bio-name-container p {
        margin-top: calc(var(--vmix)*2);
        font-size: calc(var(--vmix)*4.5)
    }
    .page-partners .slide-bio div.slide-content .bio-text-container p,
    .page-partners .slide-cv div.slide-content .bio-text-container p {
        line-height: calc(var(--vmix)*4.5);
        font-size: calc(var(--vmix)*3)
    }
    .page-partners .slide-bio div.slide-content .bio-text-container .bio-social-list,
    .page-partners .slide-cv div.slide-content .bio-text-container .bio-social-list {
        margin-bottom: calc(var(--vmix)*4.99);
        padding-top: calc(var(--vmix)*4.99);
        font-size: calc(var(--vmix)*3)
    }
    .page-partners .slide-bio div.slide-content .footer:before,
    .page-partners .slide-cv div.slide-content .footer:before {
        content: "";
        height: 15vh
    }
    .page-partners .fullpage-wrapper {
        transition-delay: .2s !important
    }
}

@media screen and (min-width:768px) and (max-width:992px) {
    .page-partners .slide-bio div.slide-content .bio-list-container,
    .page-partners .slide-cv div.slide-content .bio-list-container {
        font-size: calc(var(--vmix)*1.88)
    }
    .page-partners .slide-bio div.slide-content .bio-list-container .bio-list-label,
    .page-partners .slide-cv div.slide-content .bio-list-container .bio-list-label {
        margin-bottom: calc(var(--vmix)*1.88)
    }
    .page-partners .slide-bio div.slide-content .bio-name-container p,
    .page-partners .slide-cv div.slide-content .bio-name-container p {
        font-size: calc(var(--vmix)*4.99)
    }
    .page-partners .slide-bio div.slide-content .bio-text-container p,
    .page-partners .slide-cv div.slide-content .bio-text-container p {
        line-height: calc(var(--vmix)*3.33);
        font-size: calc(var(--vmix)*1.88)
    }
    .page-partners .slide-bio div.slide-content .bio-text-container .bio-social-list,
    .page-partners .slide-cv div.slide-content .bio-text-container .bio-social-list {
        padding-top: calc(var(--vmix)*4.99);
        font-size: calc(var(--vmix)*1.88)
    }
}

@media screen and (max-width:992px) {
    #back.back-partner .back {
        left: 0
    }
}

@media screen and (min-width:576px) {
    .static-header {
        background-image: linear-gradient(0deg, hsla(0, 0%, 100%, 0) 0, #fff 9%);
        height: 80px;
        left: 5%;
        position: fixed;
        top: 0;
        width: 90%;
        z-index: 1
    }
}

@media screen and (min-width:992px) and (max-width:1400px) {
    .page-partners .slide-bio div.slide-content .bio-list-container,
    .page-partners .slide-cv div.slide-content .bio-list-container {
        font-size: calc(var(--vmix)*1.72)
    }
    .page-partners .slide-bio div.slide-content .bio-list-container .bio-list-label,
    .page-partners .slide-cv div.slide-content .bio-list-container .bio-list-label {
        margin-bottom: calc(var(--vmix)*1.45)
    }
    .page-partners .slide-bio div.slide-content .bio-name-container p,
    .page-partners .slide-cv div.slide-content .bio-name-container p {
        font-size: calc(var(--vmix)*3.33)
    }
    .page-partners .slide-bio div.slide-content .bio-text-container p,
    .page-partners .slide-cv div.slide-content .bio-text-container p {
        line-height: calc(var(--vmix)*3.33);
        font-size: calc(var(--vmix)*1.72)
    }
    .page-partners .slide-bio div.slide-content .bio-text-container .bio-social-list,
    .page-partners .slide-cv div.slide-content .bio-text-container .bio-social-list {
        padding-top: calc(var(--vmix)*3.33);
        font-size: calc(var(--vmix)*1.72)
    }
}

@media screen and (min-aspect-ratio:16/9) {
    .page-partners .slide-bio div.slide-content .bio-image-container,
    .page-partners .slide-bio div.slide-content .bio-list-container ul,
    .page-partners .slide-bio div.slide-content .bio-text-container,
    .page-partners .slide-cv div.slide-content .bio-image-container,
    .page-partners .slide-cv div.slide-content .bio-list-container ul,
    .page-partners .slide-cv div.slide-content .bio-text-container {
        margin-bottom: 15vh
    }
    .page-partners .slide-bio div.slide-content .bio-name-container,
    .page-partners .slide-cv div.slide-content .bio-name-container {
        margin-top: 5vh
    }
    .page-partners .bio-name-container p {
        margin-bottom: 0
    }
    .static-header .bio-name-container {
        margin-top: 18vh
    }
}

@media screen and (min-aspect-ratio:16/9) and (max-height:600px) {
    .mobile.page-partners .slide-bio div.slide-content .bio-image-container {
        margin: 15vh 0 0
    }
    .mobile.page-partners .slide-bio div.slide-content .bio-image-container img {
        height: 50vh
    }
    .mobile.page-partners .slide-bio div.slide-content .bio-list-container ul {
        margin-bottom: 5vh
    }
    .mobile.page-partners .slide-bio div.slide-content .bio-list-container ul li {
        height: 5vh
    }
    .mobile.page-partners .slide-bio div.slide-content .bio-text-container {
        margin-bottom: 0
    }
    .mobile .bio-name-container {
        margin-top: 0
    }
    .mobile .bio-name-container p {
        font-size: calc(var(--vmix)*3.33)
    }
}

@media screen and (min-width:1400px) {
    .page-partners .static-header {
        height: 25vh
    }
    .page-partners .static-header .bio-name-container {
        margin-top: 16vh;
        display: block
    }
    .page-partners .slide-bio div.slide-content .bio-name-container,
    .page-partners .slide-cv div.slide-content .bio-name-container {
        visibility: hidden
    }
}

.fp-section {
    position: relative;
    box-sizing: border-box
}

.fp-slide {
    float: left
}

.fp-slide,
.fp-slidesContainer {
    height: 100%;
    display: block
}

.fp-slides {
    z-index: 1;
    height: 100%;
    overflow: hidden;
    position: relative;
    transition: all .3s ease-out
}

.fp-section.fp-table,
.fp-slide.fp-table {
    display: table;
    table-layout: fixed;
    width: 100%
}

.fp-tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%
}

.fp-slidesContainer {
    float: left;
    position: relative
}

.fp-controlArrow {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    position: absolute;
    z-index: 4;
    top: 50%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -38px;
    transform: translateZ(0)
}

.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #fff transparent transparent
}

.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #fff
}

.fp-scrollable {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fp-scrollable,
.fp-scroller {
    overflow: hidden
}

.iScrollIndicator {
    border: 0 !important
}

.fp-notransition {
    transition: none !important
}

#fp-nav {
    position: fixed;
    z-index: 100;
    top: 50%;
    opacity: 1;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translate3d(0, -50%, 0)
}

#fp-nav.fp-right {
    right: 17px
}

#fp-nav.fp-left {
    left: 17px
}

.fp-slidesNav {
    position: absolute;
    z-index: 4;
    opacity: 1;
    transform: translateZ(0);
    left: 0 !important;
    right: 0;
    margin: 0 auto !important
}

.fp-slidesNav.fp-bottom {
    bottom: 17px
}

.fp-slidesNav.fp-top {
    top: 17px
}

#fp-nav ul,
.fp-slidesNav ul {
    margin: 0;
    padding: 0
}

#fp-nav ul li,
.fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position: relative
}

.fp-slidesNav ul li {
    display: inline-block
}

#fp-nav ul li a,
.fp-slidesNav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none
}

#fp-nav ul li:hover a.active span,
#fp-nav ul li a.active span,
.fp-slidesNav ul li:hover a.active span,
.fp-slidesNav ul li a.active span {
    height: 12px;
    width: 12px;
    margin: -6px 0 0 -6px;
    border-radius: 100%
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    background: #333;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    transition: all .1s ease-in-out
}

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
    width: 10px;
    height: 10px;
    margin: -5px 0 0 -5px
}

#fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
    cursor: pointer
}

#fp-nav.fp-show-active a.active+.fp-tooltip,
#fp-nav ul li:hover .fp-tooltip {
    transition: opacity .2s ease-in;
    width: auto;
    opacity: 1
}

#fp-nav ul li .fp-tooltip.fp-right {
    right: 20px
}

#fp-nav ul li .fp-tooltip.fp-left {
    left: 20px
}

.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell,
.fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {
    height: auto !important
}

.fp-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0
}

.over-boton {
    left: 1.5rem;
    top: 1.5rem
}

@media (max-width:760px) {
    .over-boton {
        left: 0;
        top: 0
    }
}

.swiper-wrapper:nth-child(2) .swiper-slide-active {
    background: red !important;
}